@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}


*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}
 #wrapper--hero {
      display: flex;
      align-items: center; 
    }
    
    #wrapper--hero div {
      margin-left: 20px;
      text-align: center;  
    }
    
    .btn--social {
      padding: 12px 24px;
      border-radius: 25px; 
      background-color: #007bff;
      color: #fff;
      margin: 0 10px; 
    }
    
    .btn--social:hover {
      background-color: #0062cc;
    }
    
    #socials--list {
      display: flex;
      justify-content: center;
    }

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
}

<!-- HTML !-->
<button class="button-18" role="button">Button 18</button>

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}
